div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 3px;
}

input, select {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  margin: 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align:top;
}

.value {
    box-sizing: border-box;
}

.value select {
  box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}

.firstValue {
  color: gray;
  font-size: 15px;
}

.result {
  color: black;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  margin: 8px 0;
}

.rowC{display:flex; flex-direction:row;}

.result-first-line {
  font-family: 'Lato';
  font-size: 15px;
  color: gray;
}

.result-second-line {
  font-family: 'Lato';
  font-size: 25px;
  color: black;
}

.footer {
  font-size: 10px;
}

.footer {
  font-size: 10px;
}
.hidden {
  visibility: hidden;
}
